/* .login-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 25%;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 4px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.template-picker {
  position: absolute;
  z-index: 9;
  margin: 1rem;
  right: 0;
} */
