* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  background-color: white;
}
.photo {
  position: absolute;
  border-radius: 50%;
  width: 345px;
  height: 345px;
  left: 500px;
  top: 160px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerDiv {
  display: flex;
  position: absolute;
  width: 100%;
  height: 380px;
  left: 0px;
  top: 0px;

  background-image: url("Depositphotos_16353779_l-2015-1200x480.jpg");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileHeader {
  height: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoDiv {
  display: flex;
  width: 450px;
  flex-direction: column;
  margin-left: 50px;
}

.updatePhoto {
  display: flex;
  flex-direction: column;
  color: #04346c;
  position: absolute;

  width: 200px;
  height: 200px;
  left: 950px;
  top: 420px;
}

button {
  background-color: #04346c;
  color: white;
}
